* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.talent {
    background: url('../icons/main-bg.jpg') center center/cover no-repeat;
}

.logo {
    margin-left: 70px;
    height: 37px;
    width: 37px;
    font-size: 40px;
    color:#fff;
}

.tittle {
    padding-left: 15px;
    color: #fff;
    font-size: 25px;
}
.nav{
    display: flex;
    padding-top: 50px;
}
.log{
    padding-left: 900px;
}
.login {
    color:#fff;
    font-size: 25px;
    cursor: pointer;
    padding-right: 30px;
}
.login:hover {
    color: #1eacc7; 
    text-decoration: underline; 
}
.login_button {
    width: 130px;
    height: 48px;
    border-radius: 5px;
    background-image: linear-gradient(to top,#1eacc7 0%,#4ce2ff 100% );
    color:#fff;
    border: #4ce2ff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.main_button:hover {
    color: #090b0e; 
}
.main_info{
    margin-top: 180px;
    margin-left: 317px;
    color:#fff;
}

.talent_science {
    font-size: 83px;
}
.talent_text {
    font-size: 26px;
    margin-top: 30px;
}
p{
    font-size: 18px;
    margin-top: 20px;
}
.check_text{
    margin-top: 50px;
    font-weight: bold;
    font-size: 17px;
}
.check{
    display: flex;
}
.kindle{
    margin-top: -22px;
    padding-left: 26px;
    font-size: 18px;
    font-weight: bold;
}
.pdf{
    position: absolute;
    margin-top: 16px;
    padding-left: 122px;
    font-size: 18px;
    font-weight: bold;
}
.epub{
    position: absolute;
    margin-top: 16px;
    padding-left:205px;
    font-size: 18px;
    font-weight: bold;
}
.check_kindle{
    margin-top: 20px;
    height: 15px;
    width: 15px;
    margin-left:3px
}
.check_pdf{
    height: 15px;
    width: 15px;
    margin-left:-537px;
    margin-top: 20px;
}
.check_epub{
    height: 15px;
    width: 15px;
    margin-top:20px;
    margin-left: -1090px;
}
.talent_form{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    margin-left: 317px;
    padding-bottom: 220px;
}
.form_email{
    height: 72px;
    width: 420px;
    border-radius: 5px;
    background-color:#fff;  
    font-size: 15px;
    padding-left: 80px; 
    font-size: 17px;
}
.form_email:focus {
    outline: none;
}
.email_form{
    position: absolute ;
    font-size: 25px;
    padding-top: 24px;
    margin-left: 40px;
    color:rgb(168, 162, 162);
}
.download_button{
    margin-top: -70px;
    margin-left: 435px;
    width: 222px;
    height: 72px;
    border-radius: 5px;
    background-image: linear-gradient(to top,#1eacc7 0%,#4ce2ff 100% );
    color:#fff;
    border: #4ce2ff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.download_button:hover {
    color: #090b0e; 
}
.whats_inside {
    background-color: rgb(245, 243, 243);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.table {
    margin-bottom: 300px;
    margin-top: 250px;
    margin-left: 360px;
    background-color: #fff;
    width: 850px;  
    height: 570px;
    border-radius: 10px;
    box-shadow:-20px 20px 0 0 rgb(41, 6, 240),-40px 40px 0 0 rgb(255, 255, 255);
}
.blue_text{
    padding-top: 30px;
    padding-left: 50px;
    color:#3d00e4;
    font-weight: bold;
}
.second_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 14px;
    line-height: 26px;
}
.diagrama{
    width: 380px;
    padding-left: 36px;
}
.last_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    padding-left: 50px;
    line-height: 26px;
}
.inside_info{
    margin-left: 200px;
    margin-top: 250px;
}

.inside {
    color:#090b0e;
    font-size: 70px;
    font-weight: bold;
}
.inside_text{
    color: grey;
    line-height: 30px;
    padding-top: 30px;
}
.inside_check {
    font-size: 20px;
    padding-top: 30px;
}
.img_check{
    padding-top: 30px;
}
.check_info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    margin-top: -30px;
    line-height: 35px;
    font-weight: bold;
}
.people_comments{
    background-color: rgb(245, 243, 243);
}
.friends{
    font-weight: bold;
    font-size: 70px;
    padding-left: 250px;
    padding-top: 100px;
}
.friends_logo{
    position: absolute;
    font-size: 50px;
    color:#3d00e4;
    margin-left: 20px;
    margin-top: 20px;
}
.comments{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.girl_text{
    background-color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    margin-top: 60px;
    width: 555px;
    margin-left: 250px;
    border-radius:10px;
    font-size: 20px;
    color: #3d00e4;
    line-height: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.man_text{
    background-color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    margin-top: 60px;
    width: 555px;
    padding-bottom: 100px;
    margin-left: 220px;
    border-radius:10px;
    margin-left: 100px;
    font-size: 20px;
    color: #3d00e4;
    line-height: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.girl_logo{
    margin-top: -40px;
    font-size: 90px;
    margin-left: 300px;
}
.girl_founder{
    margin-left: 300px;
}
.alexandra{
    font-size: 25px;
    font-weight: bold; 
}
.seo{
    color:gray; 
    font-size: 20px;  
    font-weight: bold;
}
.man_logo{
    font-size: 90px;
    margin-top: -200px;
    margin-left: 950px;
}
.man_founder{
    margin-left: 950px;
    padding-bottom: 200px;
}
.charles{
    font-size: 25px;
    font-weight: bold;  
}
.cto{
    color:gray; 
    font-size: 20px;  
    font-weight: bold; 
}
.baixe{
    background: url(../icons/second-bg.jpg) center center/cover no-repeat;
}
.book{
    font-size: 100px;
}
.form_tittle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#fff;
    font-size: 60px;
    text-align: center;
    padding-top: 330px;
    line-height: 80px;
}
.full_name{
    margin-left: 710px;
    margin-top: 50px;
    height: 72px;
    width:538px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.full_name:focus {
    outline:none;
}
.enter_email{
    margin-left: 710px;
    margin-top: 30px;
    height: 72px;
    width:538px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.enter_email:focus {
    outline: none;
}
.empresa{
    margin-left: 710px;
    margin-top: 30px;
    height: 72px;
    width: 260px;
    padding-left: 30px;
    font-size: 18px;   
    border-radius: 5px;
}
.empresa:focus {
    outline: none;
}
.telephone{
    margin-left: 14px;
    margin-top: 30px;
    height: 72px;
    width: 260px;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.telephone:focus {
    outline: none;
}
.form_button{
    margin-left: 810px;
    margin-top: 30px;
    width: 347px;
    height: 70px;
    border-radius: 5px;
    background-image: linear-gradient(to top,#1eacc7 0%,#0ec2e6 100% );
    color:#fff;
    border: #4ce2ff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.form_button:hover {
    color: #090b0e; 
}
.form_text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    color:#fff;
    padding-bottom: 200px;
}
.frameworks{
    background-color: #fff;
    margin-top: 50px;
    padding-bottom: 200px;
}
.amazon{
    height: 120px;
    width: 140px;
    margin-left: 330px;
    margin-top: -10px;
}
.apache{
    height: 80px;
    width: 220px;
    margin-left: 330px;

}
.cordova{
    height: 80px;
    width: 220px;
    margin-left: 400px;
}
.laravel{
    height: 80px;
    width: 140px;
    margin-left: 450px;
}
.linux{
    height: 80px;
    width: 140px;
    margin-left: -170px;
}
.meteor{
    height: 80px;
    width: 140px;
    margin-left: -10px;
}
.mongo{
    height: 80px;
    width: 140px;
    margin-left: 185px;
}
.react{
    height: 80px;
    width: 140px;
    margin-left: 330px;
}
.frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.first_frame{
    margin-top: -60px;
    width: 300px;
}
.second_frame{
    margin-left: -720px;
    margin-top: 300px;
    width: 100%;
}

.download_ebook {
    height: 650px;
    background: url(../icons/last-bg.jpg) center center/cover no-repeat;
}
.book{
    position: absolute;
    font-size: 50px;
    color:#fff;
    margin-left: 50%;
    margin-top: 240px;
}
.download_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#fff;
    padding-top: 208px;
    font-size: 60px;
    line-height: 80px;
}
.last_button{
    margin-left: 870px;
    margin-top: 50px;
    width: 240px;
    height: 70px;
    border-radius: 5px;
    background-image: linear-gradient(to top,#1eacc7 0%,#0ec2e6 100% );
    color:#fff;
    border: #4ce2ff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.last_button:hover {
    color: #090b0e; 
}
.footer{
    background: url(../icons/last-bg.jpg) center center/cover no-repeat;
}
.footer_logo{
    margin-left: 215px;
    margin-top: 170px;
    font-size:40px;
    color:#fff;
}
.foot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.logo_text{
    margin-left: 260px;
    margin-top: -32px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.footer_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    margin-left: 220px;
    color:#fff;
    line-height: 30px;
    font-size: 14px;
}
.logotypes{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    margin-left: -900px;
    width: 100px;
}
.first_logotypes{
    font-size: 25px;
    cursor: pointer;
    color:#fff;
}
.footer_logotypes{
    font-size: 25px;
    cursor: pointer;
    color:#fff;
    padding-left: 20px;
}
.products{
    margin-top: 150px;
    margin-left:420px;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

.grow{
    color:#1eacc7;
    font-weight: bold;
    font-size: 20px;
}
.grow:hover{
    color:#fff;
}
.talk{
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}
.email_us{
    color:#1eacc7;
    font-weight: bold;
    font-size: 20px;
}
.email_us:hover{
    color:#fff;
}
.contacts{
    margin-left: 240px;
    margin-top: -235px;
}
.market{
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}
.find{
    color:#1eacc7;
    font-weight: bold;
    font-size: 20px;
}
.find:hover{
    color:#fff;
}
.power{
    color:#fff;
    font-size: 15px;
    margin-left: -550px;
    margin-top: 230px;
    line-height: 35px;
    margin-bottom: 100px;
}
.heads{
    margin-left: 610px;
    margin-top: -330px;
}
.privacy{
    color:#fff;
    font-size: 15px;
    margin-top: -137px;
    margin-left: 670px;
    padding-bottom: 100px;
}
.privacy:hover{
    color:#1eacc7;
}
